.topnav {
  margin-bottom: 20px;
  position: relative;
  background-color: rgba(230, 230, 230, 0.28);
  border-radius: 26px;
  overflow: hidden;
  text-align: center;
}

.topnav a {
  color: #393535;
  text-align: center;
  padding: 14px 16px;
  font-size: 24px;
  padding: 5%;
  transition: 0.2s;
  font-family: "Segoe UI Light";
}

.topnav a:hover {
  color: #0275d8;
  text-decoration: none;
  transition: 0.2s;
}
.jumbotron {
  background-image: url("https://i.pinimg.com/originals/04/ef/5e/04ef5e1743f2123165f573616c533885.jpg");
  background-size: cover;
  height: 80vh;
  color: rebeccapurple;
  text-align: center;
}

.titlePage {
  position: relative;
  top: 100px;
}

.formInput {
  width: 400px;
  padding: 10px;
  border-radius: 30px;
  border: none;

  margin: auto;
}

.btn {
  border-radius: 30px;
  transition: 0.4s;
}

.btn:hover {
  background-color: transparent;
  color: #0275d8;
  transition: 0.4s;
}

.Info {
  text-align: right;
  font-family: cabin;
  font-size: 22px;
  background-color: #1a1a1a;
  color: white;
  padding-top: 60px;
}

.Service {
  text-align: center;
}
