.jumbotron {
  color: rebeccapurple;
  text-align: center;
}

.jumbotron p a {
  border-radius: 30px;
  padding: 10px 20px 10px 20px;
  transition: 0.4s;
}

.jumbotron p a:hover {
  background-color: transparent;
  color: #0275d8;
  transition: 0.4s;
}
