<div class="row Service" id="Service">
    <div class="col-sm-4">

        <h1>Reporting</h4>
            <h3>Hello</h3>
    </div>
    <div class="col-sm-4">

        <h1>Accuracy</h1>
        <h3>We never lie!</h3>
    </div>
    <div class="col-sm-4">

        <h1>Reliability</h1>
        <h3>Always There for you!</h3>
    </div>
</div>