<div class="titleHead">

    <h1 id="locationTitle"> </h1>
    <img src="" />

</div>

<div class="row Service" id="Service">
    <div class="col-sm-4">

        <h2>Location</h2>
        <img src="https://img.icons8.com/color/48/000000/city.png" />

        <p id='view1'></p>
    </div>
    <div class="col-sm-4">

        <h2>Forcast</h2>
        <img src="https://img.icons8.com/color/48/000000/chance-of-storm.png" />

        <p id='view2'></p>
    </div>
    <div class="col-sm-4">

        <h2>Country</h2>
        <img src="https://img.icons8.com/color/48/000000/country.png" />

        <p id='view3'></p>
    </div>
</div>