<div style=" text-align:center; color:rgb(61, 44, 251);">
    <h1 id="locationTitle"></h1>
</div>

<div class="row Service" id="Service">
    <div class="col-sm-4">

        <h3>Location</h4>
            <p id='view1'></p>
    </div>
    <div class="col-sm-4">

        <h3>Forcast</h4>
            <p id='view2'></p>
    </div>
    <div class="col-sm-4">

        <h3>Country</h4>
            <p id='view3'></p>
    </div>
</div>