<div class="row Service" id="Service">
    <div class="col-sm-4">

        <h3>Reporting</h4>
            <p>The best in the buissness!</p>
    </div>
    <div class="col-sm-4">

        <h3>Accuracy</h4>
            <p>We never lie!</p>
    </div>
    <div class="col-sm-4">

        <h3>Reliability</h4>
            <p>Always There for you!</p>
    </div>
</div>