<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="topnav ">
            <a href="http://localhost:3000/">Home</a>
            <a href="http://localhost:3000/about">About</a>
            <a href="#search">Tech Used</a>
            <a href="#contact">Contact</a>

        </div>
        <div class='titlePage'>

            <h3,class="display-3">{{title}}</h3,class=>
                <p class="lead">{{subTitle}}</p>
                <hr class="my-2">


                <form>

                    <div class="form-group">

                        <input type="text" class="formInput" id="weatherInput"
                            placeholder="Enter Location Like New York!">

                    </div>


                </form>



                <a type="submit" class="btn btn-primary btn-lg" href="#" role="button">{{btnName}}</a>

        </div>
    </div>
</div>