<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="topnav ">
            <a href="#home">Home</a>
            <a href="#news">Products</a>
            <a href="#search">Specs</a>
            <a href="#about">Build Now</a>

        </div>
        <b4-h1>Dyanmic Web Pages Are AWESOME!</b4-h1>
        <h1 class="display-3">{{title}}</h1>
        <p class="lead">{{subTitle}}</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">{{btnName}}</a>
        </p>
    </div>
</div>